<div class='schedule-wrapper'>
  <div class='day'>
    <p>Sunday</p>
    <ul class='lesson-times'>
      <li>
        {{> lesson-times time}}
      </li>
    </ul>
  </div>
  <div class='day'></div>
  <div class='day'></div>
  <div class='day'></div>
  <div class='day'></div>
  <div class='day'></div>
  <div class='day'></div>

</div>

<button id='find-instructor-btn'>find an instructor</button>