<div class='hero-wrapper'>
  <p>“Learning is not attained by chance, it must be sought for with ardor and
    attended to with diligence.”
    <br />― Abigail Adams</p>
  <p class='image-credit'>image:
    <a href='https://unsplash.com/@olenkasergienko'>Olena Sergienko</a></p>
</div>

<section class='features'>
  <article class='schedule-view-wrapper'>
    <div class='text-wrapper'>
      <h2><i class='far fa-calendar-check'></i> Weekly schedule</h2>
      <p>See what lessons you've got coming up</p>
    </div>
    <div class='img-wrapper'>
      <!-- ADD IMAGE -->
    </div>
  </article>

  <article class='find-instructor-wrapper'>
    <div class='text-wrapper'>
      <h2><i class='fas fa-search'></i> Find teachers</h2>
      <p>Looking to develop a certain skill? Use our search feature to find the
        right instructor</p>
    </div>
    <div class='img-wrapper'>
      <!-- ADD IMAGE -->
    </div>
  </article>
</section>

<p class='start-text'>
  Ready to start? Click to
  <a href='/login'>sign up or login</a>
</p>