<form class='search-form'>
    <h2>Search By Specialties</h2>
    <div>
      <label for='email-login'>Specialties:</label>
      <select>
		{{#select Specialties}}
    <option value='1'>Music</option>
		<option value='2'>Math</option>
		<option value='3'>Science</option>
		<option value='4'>Language</option>
		<option value='5'>History</option>
		<option value='6'>Art</option>
		{{/select}}
      </select>
    </div>
    <div>
      <button type='submit'>search</button>
    </div>
  </form>

  <div class="teacher-display">

  </div>




  