<h2 class='teacher-info-name'>{{teacher.first_name}} {{teacher.last_name}}</h2>
<span>{{teacher.teacherSpecialties}}</span>

<h2 class='teacher-info-bio'>Bio</h2>
<p class='teacher-info-bio'>{{teacher.bio}}</p>
<div class='schedule-wrapper'>
  <h3>Available Lesson Times</h3>
  <div class='day'>
    <p>Sunday</p>
    <ul class='available-timeslots'>
      {{#each teacher.weekly_timeslots as |timeslot|}}
      {{#if (checkDay 1 timeslot.day)}}
      {{#if (isAvailable timeslot)}}
      <li>
        {{> available-timeslots timeslot}}
      </li>
      {{/if}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
  <hr>
  <div class='day'>
    <p>Monday</p>
    <ul class='available-timeslots'>
      {{#each teacher.weekly_timeslots as |timeslot|}}
      {{#if (checkDay 2 timeslot.day)}}
      {{#if (isAvailable timeslot)}}
      <li>
        {{> available-timeslots timeslot}}
      </li>
      {{/if}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
  <hr>
  <div class='day'>
    <p>Tuesday</p>
    <ul class='available-timeslots'>
      {{#each teacher.weekly_timeslots as |timeslot|}}
      {{#if (checkDay 3 timeslot.day)}}
      {{#if (isAvailable timeslot)}}
      <li>
        {{> available-timeslots timeslot}}
      </li>
      {{/if}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
  <hr>
  <div class='day'>
    <p>Wednesday</p>
    <ul class='available-timeslots'>
      {{#each teacher.weekly_timeslots as |timeslot|}}
      {{#if (checkDay 4 timeslot.day)}}
      {{#if (isAvailable timeslot)}}
      <li>
        {{> available-timeslots timeslot}}
      </li>
      {{/if}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
  <hr>
  <div class='day'>
    <p>Thursday</p>
    <ul class='available-timeslots'>
      {{#each teacher.weekly_timeslots as |timeslot|}}
      {{#if (checkDay 5 timeslot.day)}}
      {{#if (isAvailable timeslot)}}
      <li>
        {{> available-timeslots timeslot}}
      </li>
      {{/if}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
  <hr>
  <div class='day'>
    <p>Friday</p>
    <ul class='available-timeslots'>
      {{#each teacher.weekly_timeslots as |timeslot|}}
      {{#if (checkDay 6 timeslot.day)}}
      {{#if (isAvailable timeslot)}}
      <li>
        {{> available-timeslots timeslot}}
      </li>
      {{/if}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
  <hr>
  <div class='day'>
    <p>Saturday</p>
    <ul class='available-timeslots'>
      {{#each teacher.weekly_timeslots as |timeslot|}}
      {{#if (checkDay 7 timeslot.day)}}
      {{#if (isAvailable timeslot)}}
      <li>
        {{> available-timeslots timeslot}}
      </li>
      {{/if}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
</div>

<script src="/js/schedule-timeslot.js"></script>