:root {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: auto;
}

body {
  margin: 0;
  background-image: linear-gradient(to bottom right, white, rgba(97, 97, 100, 0.52));
}

/* ----- GENERAL ----- */
button {
  background-color: #ffde04;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: rgba(19, 26, 117, 0.73);
}

a:hover {
  color: #424abe;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, black, transparent);
}

.mainModalOn {
  pointer-events: none;
}

.bodyModalOn {
  box-shadow: inset 0 0 100vw black;
}

/* ----- MAIN STYLES ----- */
header nav {
  margin: 5px;
  height: 20px;
}
header nav a {
  margin-right: 5px;
}
header h1 {
  text-align: center;
}

footer {
  text-align: center;
  font-style: italic;
  width: 100%;
}
footer hr {
  margin: 0;
}
footer p {
  padding: 5px;
  margin: 0;
}

/* ----- HOME STYLES ----- */
.hero-wrapper {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(97, 97, 100, 0.52), rgba(19, 26, 117, 0.73)), url("../images/learning.png");
  background-position: center;
  background-size: cover;
  height: 500px;
}
.hero-wrapper p {
  position: absolute;
  top: 20%;
  color: white;
  font-size: 40px;
  text-shadow: 1px 1px black;
  text-align: center;
}
.hero-wrapper .image-credit {
  font-size: 10px;
  position: absolute;
  top: 1%;
  right: 1%;
}
.hero-wrapper .image-credit a {
  color: white;
  text-decoration: underline;
}

.features article {
  padding: 10px 0;
}
.features h2 {
  margin: 0;
  text-align: center;
}
.features p {
  margin: 0;
  text-align: center;
}
.features .schedule-view-wrapper {
  background-color: rgba(19, 26, 117, 0.73);
  color: white;
}
.features .find-instructor-wrapper {
  background-color: rgba(97, 97, 100, 0.52);
}

.start-text {
  width: 100%;
  text-align: center;
}

/* ----- LOGIN STYLES ----- */
form {
  margin: 0;
}
form h2 {
  margin: 0;
}
form input {
  margin: 5px;
}

.login-form {
  background-color: rgba(19, 26, 117, 0.73);
  padding: 10px;
  color: white;
}

.signup-form {
  background-color: rgba(97, 97, 100, 0.52);
  padding: 10px;
}

/* ----- DASHBOARD STYLES ----- */
.schedule-wrapper {
  border: 1px solid rgba(97, 97, 100, 0.52);
  width: 90%;
  margin: 0 auto 10px auto;
  background-image: linear-gradient(to bottom right, #ceced3, #363638);
}
.schedule-wrapper hr {
  background-image: linear-gradient(to right, transparent, white, transparent);
  margin-top: 0;
}
.schedule-wrapper .day p {
  font-size: large;
  padding-left: 5px;
}
.schedule-wrapper .day ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.schedule-wrapper .day li {
  padding: 0 10px 0 10px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-radius: 5px;
  background-color: #ceced3;
  text-align: center;
  box-shadow: 1px 1px 5px black;
  margin: 5px;
}
.schedule-wrapper .day li p {
  margin: 0;
  font-size: medium;
  padding: 0;
}
.schedule-wrapper .day li button {
  margin: 5px;
}

.text-wrapper {
  width: 100%;
  text-align: center;
  font-size: large;
  margin: 5px 0;
}

/* ----- SEARCH STYLES ----- */
.teacher-result {
  padding: 5px;
  margin: 10px;
  border-bottom: 3px solid black;
  margin-right: 10%;
}

.teacher-name {
  text-decoration: none;
  color: rgba(19, 26, 117, 0.73);
  margin-right: 5px;
}

.teacher-name:hover {
  color: #424abe;
}

.teacher-specialty-header {
  margin: 25%;
}

/* ----- TEACHER STYLES ----- */
.teacher-info-name {
  margin-left: 10px;
}

.teacher-info-bio {
  margin-left: 20px;
}

.schedule-wrapper h3 {
  text-align: center;
}

/* ----- MODAL STYLES ----- */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 340px;
  height: auto;
  border: 2px solid black;
  background-color: white;
  box-shadow: 0px 0px 300px black;
  padding: 10px 0;
}
.modal .modal-header {
  text-align: center;
}
.modal form {
  display: flex;
  justify-content: space-around;
  padding: 0 20%;
  margin-top: 20px;
}

/*# sourceMappingURL=style.css.map */
