$dark-blue: rgba(19, 26, 117, 0.73);
$light-blue: rgb(66, 74, 190);
$gray: rgba(97, 97, 100, 0.52);
$light-gray: rgb(206, 206, 211);
$dark-gray: rgb(54, 54, 56);
$yellow-orange: rgb(255, 222, 4);

:root {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: auto;
}

body {
  margin: 0;
  background-image: linear-gradient(to bottom right, white, $gray);
}

/* ----- GENERAL ----- */
button {
  background-color: $yellow-orange;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $dark-blue;
}

a:hover {
  color: $light-blue;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, black, transparent);
}

.mainModalOn {
  pointer-events: none;
}

.bodyModalOn {
  box-shadow: inset 0 0 100vw black;
}
/* ----- MAIN STYLES ----- */
header {
  nav {
    margin: 5px;
    height: 20px;

    a {
      margin-right: 5px;
    }
  }

  h1 {
    text-align: center;
  }
}

footer {
  text-align: center;
  font-style: italic;
  width: 100%;

  hr {
    margin: 0;
  }

  p {
    padding: 5px;
    margin: 0;
  }
}

/* ----- HOME STYLES ----- */
.hero-wrapper {
  position: relative;
  background-image: linear-gradient(to bottom, $gray, $dark-blue),
    url('../images/learning.png');
  background-position: center;
  background-size: cover;
  height: 500px;

  p {
    position: absolute;
    top: 20%;
    color: white;
    font-size: 40px;
    text-shadow: 1px 1px black;
    text-align: center;
  }

  .image-credit {
    font-size: 10px;
    position: absolute;
    top: 1%;
    right: 1%;

    a {
      color: white;
      text-decoration: underline;
    }
  }
}

.features {
  article {
    padding: 10px 0;
  }

  h2 {
    margin: 0;
    text-align: center;
  }

  p {
    margin: 0;
    text-align: center;
  }

  .schedule-view-wrapper {
    background-color: $dark-blue;
    color: white;
  }

  .find-instructor-wrapper {
    background-color: $gray;
  }
}

.start-text {
  width: 100%;
  text-align: center;
}

/* ----- LOGIN STYLES ----- */
form {
  margin: 0;

  h2 {
    margin: 0;
  }

  input {
    margin: 5px;
  }
}

.login-form {
  background-color: $dark-blue;
  padding: 10px;
  color: white;
}

.signup-form {
  background-color: $gray;
  padding: 10px;
}

/* ----- DASHBOARD STYLES ----- */
.schedule-wrapper {
  border: 1px solid $gray;
  width: 90%;
  margin: 0 auto 10px auto;
  background-image: linear-gradient(to bottom right, $light-gray, $dark-gray);

  hr {
    background-image: linear-gradient(
      to right,
      transparent,
      white,
      transparent
    );
    margin-top: 0;
  }
  .day {
    p {
      font-size: large;
      padding-left: 5px;
    }

    ul {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      margin-bottom: 0;
    }

    li {
      padding: 0 10px 0 10px;
      border-bottom: 1px solid white;
      border-right: 1px solid white;
      border-radius: 5px;
      background-color: $light-gray;
      text-align: center;
      box-shadow: 1px 1px 5px black;
      margin: 5px;

      p {
        margin: 0;
        font-size: medium;
        padding: 0;
      }
      button {
        margin: 5px;
      }
    }
  }
}

.text-wrapper {
  width: 100%;
  text-align: center;
  font-size: large;
  margin: 5px 0;
}

/* ----- SEARCH STYLES ----- */
.teacher-result {
  padding: 5px;
  margin: 10px;
  border-bottom: 3px solid black;
  margin-right: 10%;
}

.teacher-name {
  text-decoration: none;
  color: $dark-blue;
  margin-right: 5px;
}

.teacher-name:hover {
  color: $light-blue;
}

.teacher-specialty-header {
  margin: 25%;
}

/* ----- TEACHER STYLES ----- */
.teacher-info-name {
  margin-left: 10px;
}

.teacher-info-bio {
  margin-left: 20px;
}

.schedule-wrapper {
  h3 {
    text-align: center;
  }
}

/* ----- MODAL STYLES ----- */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 340px;
  height: auto;
  border: 2px solid black;
  background-color: white;
  box-shadow: 0px 0px 300px black;
  padding: 10px 0;

  .modal-header {
    text-align: center;
  }

  form {
    display: flex;
    justify-content: space-around;
    padding: 0 20%;
    margin-top: 20px;
  }
}
